.App {
  text-align: center;
  color: white;
}

.App-header {
  height: 27rem;
  padding: 2rem 1rem 1rem;
  color: white;
  box-sizing: border-box;
}

.App-logo {
  width: 9rem;
}

.App .error {
  font-size: 1.6rem;
}

/************************ spinner ************************/

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 2em auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F54B00;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/************************ UserInput ************************/

.userInput {
  font-size: 1.6rem;
}

.userInput .pre-input {
  background-color: #F54B00;
  height: 2.5em;
  width: 2.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.userInput div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInput input {
  font-size: 1em;
  padding-left: 1em;
  height: 2.5em;
  width: 25em;
  box-sizing: border-box;
  outline-color: #F54B00;
  transition: outline 0.3s ease-in-out;
}

.userInput button {
  cursor: pointer;
  background-color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  height: 2.5em;
  padding: 0 1.5em;
  transition-duration: 0.3s;
}
.userInput button:hover {
  background-color: #F54B00;
  color: white;
}

.userInput .error {
  display: block;
  color: #C23628;
  margin-top: 0.5em;
}

/************************ Overview ************************/

.overview {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: rgb(52, 52, 52);
  border-radius: 3px;
  border-top: 3px solid #F54B00;
  border-bottom: 3px solid #F54B00;
  margin: 0 4rem 3rem;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.overview hr {
  margin: 2em 0;
  height: 2px;
  border: none;
  background: rgba(117, 117, 117, 0.21);
}

.overview h2 {
  margin: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 425px) {
  .userInput input {
    width: 10em;
  }

  .overview {
    padding: 1em;
    margin: 0 2rem 2rem;
  }
}

/************************ KarmaSummary ************************/

.karma-summary .karma-circles {
  display: flex;
  flex-direction: column;
  padding: 0 12em;
}

@media (max-width: 768px) {
  .karma-summary .karma-circles {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.karma-summary .karma-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 0;
}

.karma-summary .karma-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 0.5em;
}

.karma-summary .karma-circle div {
  font-size: 1.5em;
  border-radius: 50%;
  border: 3px solid #F54B00;
  width: 4em;
  height: 4em;
  line-height: 4em; /* center text vertically in circle */
}

.karma-summary .karma-circle span {
  margin-top: 0.5em;
}

.karma-summary .controversial div {
  border-color: #C23628;
}

/************************ TopPosts ************************/

.top-posts .post-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.6rem;
}

.top-posts .post-section h4 {
  text-align: center;
}

.top-posts .post-section span {
  padding-top: 0.25em;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.75);
}

.top-posts .post-section p{
  margin: 0.25em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-posts .comment-link {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .top-posts .post-section h4 {
    margin-top: 1em;
  }
}

/************************ TopSubs ************************/

.top-subs p {
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.75);
}
